*{ 
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
html,body{ 
    height: 100%;
    width:100%;
}
#bg{ 
    height: 100%;
    width: 100%;
    background-image: url(./holicolor.webp);
    background-size: cover;
}
h1{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: buttermilk;
    font-weight: 100;
    mix-blend-mode: difference;
    color: #fff;
    font-size: 190px;
}